.categoryDropdown {
    width: 300px !important;

    .categoryContainer {
        a {
            color: #404145;
            font-weight: 600;
        }

        span {
            color: #B5B6BA;
        }
    }
}