.anticon {
    vertical-align: 0;
}

.ant-pagination {
    text-align: center;
}

.ant-pagination-item-active {
    border-color: transparent !important;
    background-color: #37ab96 !important;
    color: white !important;
}

.ant-pagination-options {
    display: none !important;
}